@import './modules/nav';
@import './modules/header-box';
@import './modules/header';
@import './modules/about';
@import './modules/category';
@import './modules/history';
@import './modules/reviews';
@import './modules/products';
@import './modules/email';
@import './modules/footer';
@import './modules/buttons';
@import './modules/titles';