.categories {
    padding: 4rem 2rem;

    &__left {
        width: 75%;
        height: 100%;
        margin-right: 2rem;

        &--topRow {
            justify-content: space-between;
        }

        &--bottomRow {
            padding: 1rem 1.2rem;
        }
    }

    &__right {
        width: 25%;
        height: 100%;
    }
}

.row {
    display: flex;

}

.category {
    box-shadow: 2px 2px 4px black;
    overflow: hidden;
    position: relative;
    padding: 0;
    margin-bottom: 1.2rem;

    &__row{
        width: 30%;
    }

    &__col {
        width: 100%;
        padding-bottom: 1rem;
    }

    &__img--container {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        z-index: 9;
        background-color: black;
    }

    &__img {
        width: 100%;
        height: 100%;
        opacity: .5;
    }

    &__text {
        z-index: 999;
        position: relative;
        padding: 0.5rem 1rem 1rem 1rem;
        text-align: center;
    }

    &__title {
        font-size: 1.7rem;

        &--orange {
            color: orange;
        }

        &--grey {
            color: grey;
        }
    }

    &__description {
        color: white;
    }

    &__rating {
        margin: 2rem;
    }

    &__icon {
        color: orange;
        margin-bottom: 1.2rem;
    }
}

.bottomRow--img {
    width: 25%;
    margin-right: 2rem;
    overflow: hidden;
}

.category__content--text {
    width: 60%;
}

.noOpacity {
    opacity: 1;
}