.footer {
    padding: 4rem;
    background-color: #999;
    border-top: 1px solid black;
    display: flex;
    justify-content: space-around;

    &__list {
        list-style: none;
    }

    &__item {
        margin: .5rem;
    }

    &__link {
        text-decoration: none;
        color: #fff;
    }
}