.footer {
    padding: 4rem;
    background-color: #999;
    border-top: 1px solid black;
    display: flex;
    justify-content: space-around;

    @include phone {
        flex-direction: column;
        align-items: center;
    }

    &__list {
        list-style: none;

        @include phone {
            // border-top: 1px solid black;
        }
    }

    &__item {
        margin: .5rem 0;
    }

    &__link {
        text-decoration: none;
        color: #fff;
    }
}