body {
    padding: 0;
    margin: 0;
}

.nav {
    background-color: white;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.418);
    padding: .6rem 0;

    &__content {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 95%;
        margin: 0 auto;

        @include phone {
            flex-direction: column;
        }
    }

    &__list {
        display: flex;
        list-style: none;
    }

    &__item {
        margin: 0 1.2rem;
    }

    &__link {
        text-decoration: none;
        color: grey;
    }
}

.logo {
    width: 6rem;
    height: 5rem;
    border-radius: 50%;
}