.products {

    padding: 8rem 2rem;
    background-image:linear-gradient(rgba(0, 0, 0, 0.521),rgba(0, 0, 0, 0.438)), url(/images/shopping-background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;

    &__content {
        display: flex;
        justify-content: space-around;

        @include phone {
            flex-direction: column;
            align-items: center;
        }
    }
}

.product {
    width: 25%;
    box-shadow: 2px 2px 4px black;

    @include phone {
        width: 80%;
        margin: 1rem 0;
    }

        &__img--container {
            width: 100%;
            height: 12rem;
        }

        &__img {
            width: 100%;
            height: 100%;
        }

        &__text {
            padding: 1rem 1rem 1rem 1rem;
            background-color: #fff;
            position: relative;

        }

        &__title {
            color: rgb(44, 44, 44);
            margin: 0;
        }

        &__author {
            font-size: .7rem;
            margin-top: .4rem;
            margin-bottom: 1.2rem;
        }

        &__info {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        &__price {
            font-weight: bold;
        }

        &__icon {
            color: rgb(90, 90, 2);
        }

        &__btn {
            color: red;
            text-decoration: none;
            padding: .7rem 1rem;
            display: inline-block;
            position: absolute;
            right: 0;
            bottom: 0;
            border: 1px solid #000;
        }
    }
