.header {
    &__title {
        font-size: 3rem;
        color: white;

        @include phone {  
            margin: 23rem 0 0 0;
            font-size: 2rem;
        }
    }
}

.email {
    &__title {
        color: #999;
        font-size: 2rem;
        text-align: center;

        @include phone {
            font-size: 1rem;
        }
    }
}