.email {
    background-color: #999;
    padding: 8rem 0;

    &__content {
        width: 70%;
        background-color: #777;
        margin: 0 auto;
        padding: 4rem 2rem;
        boxs
    }
}