body {
  padding: 0;
  margin: 0; }

.nav {
  background-color: white;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.418);
  padding: .6rem 0; }
  .nav__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 95%;
    margin: 0 auto; }
  .nav__list {
    display: flex;
    list-style: none; }
  .nav__item {
    margin: 0 1.2rem; }
  .nav__link {
    text-decoration: none;
    color: grey; }

.logo {
  width: 6rem;
  height: 5rem;
  border-radius: 50%; }

.header__box {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: grey;
  padding: 1rem 0; }
  .header__box .header__icons i {
    color: white;
    font-size: 2rem;
    margin-right: 1rem; }

.header__form input {
  border: none;
  border-radius: 10px;
  padding: .8rem 2rem; }

.header__buttons a {
  text-decoration: none;
  color: black;
  margin-right: .7rem; }

.header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.534), rgba(0, 0, 0, 0.452)), url(/images/header-background.jpeg);
  height: 100vh;
  background-attachment: fixed; }
  .header__hero-content {
    width: 50%;
    text-align: center;
    padding: 1rem 0;
    margin: 0 auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }
  .header__description {
    font-size: 1.3rem;
    color: white;
    margin-bottom: 2.2rem; }

.about {
  width: 80%;
  margin: -4rem auto 0 auto;
  background-color: white;
  box-shadow: 2px 2px 4px black;
  padding: 4rem 1rem; }
  .about__content {
    display: flex;
    justify-content: space-around;
    align-items: center; }
  .about__img {
    width: 9rem;
    height: 9rem; }

.categories {
  padding: 4rem 2rem; }
  .categories__left {
    width: 75%;
    height: 100%;
    margin-right: 2rem; }
    .categories__left--topRow {
      justify-content: space-between; }
    .categories__left--bottomRow {
      padding: 1rem 1.2rem; }
  .categories__right {
    width: 25%;
    height: 100%; }

.row {
  display: flex; }

.category {
  box-shadow: 2px 2px 4px black;
  overflow: hidden;
  position: relative;
  padding: 0;
  margin-bottom: 1.2rem; }
  .category__row {
    width: 30%; }
  .category__col {
    width: 100%;
    padding-bottom: 1rem; }
  .category__img--container {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    z-index: 9;
    background-color: black; }
  .category__img {
    width: 100%;
    height: 100%;
    opacity: .5; }
  .category__text {
    z-index: 999;
    position: relative;
    padding: 0.5rem 1rem 1rem 1rem;
    text-align: center; }
  .category__title {
    font-size: 1.7rem; }
    .category__title--orange {
      color: orange; }
    .category__title--grey {
      color: grey; }
  .category__description {
    color: white; }
  .category__rating {
    margin: 2rem; }
  .category__icon {
    color: orange;
    margin-bottom: 1.2rem; }

.bottomRow--img {
  width: 25%;
  margin-right: 2rem;
  overflow: hidden; }

.category__content--text {
  width: 60%; }

.noOpacity {
  opacity: 1; }

.history {
  padding: 4rem 2rem 1rem 0; }
  .history__content {
    display: flex; }
  .history__img--container {
    width: 50%;
    background-image: url("/images/header-background.jpeg");
    background-attachment: fixed;
    margin-right: 2rem;
    clip-path: polygon(0 0, 100% 0, 70% 100%, 0 100%); }
  .history__text {
    width: 50%; }
  .history__title {
    font-size: 1.6rem;
    margin-top: 0; }
  .history__desc {
    font-size: 1.2rem;
    line-height: 1.6;
    color: grey; }

.reviews {
  padding: 8rem 4rem;
  border: 1px solid grey;
  box-shadow: 2px 2px 4px rgba(128, 128, 128, 0.199);
  margin-top: 3rem; }
  .reviews__content {
    display: flex;
    flex-wrap: wrap; }

.review {
  border: 1px solid grey;
  width: 40%;
  padding: .7rem 1rem;
  margin: .5rem;
  box-sizing: border-box; }
  .review__user {
    display: flex;
    align-items: center; }
  .review__img {
    height: 4rem;
    width: 4rem; }

.products {
  padding: 8rem 2rem;
  background-image: linear-gradient(rgba(0, 0, 0, 0.521), rgba(0, 0, 0, 0.438)), url(/images/shopping-background.jpg);
  background-repeat: no-repeat;
  background-size: cover; }
  .products__content {
    display: flex;
    justify-content: space-around; }

.product {
  width: 25%;
  box-shadow: 2px 2px 4px black; }
  .product__img--container {
    width: 100%;
    height: 12rem; }
  .product__img {
    width: 100%;
    height: 100%; }
  .product__text {
    padding: 1rem 1rem 1rem 1rem;
    background-color: #fff;
    position: relative; }
  .product__title {
    color: #2c2c2c;
    margin: 0; }
  .product__author {
    font-size: .7rem;
    margin-top: .4rem;
    margin-bottom: 1.2rem; }
  .product__info {
    display: flex;
    justify-content: space-between;
    align-items: center; }
  .product__price {
    font-weight: bold; }
  .product__icon {
    color: #5a5a02; }
  .product__btn {
    color: red;
    text-decoration: none;
    padding: .7rem 1rem;
    display: inline-block;
    position: absolute;
    right: 0;
    bottom: 0;
    border: 1px solid #000; }

.email {
  background-color: #999;
  padding: 8rem 0; }
  .email__content {
    width: 70%;
    background-color: #777;
    margin: 0 auto;
    padding: 4rem 2rem;
    box-shadow: 2px 2p 4px #000;
    border-radius: 5px; }
    .email__content--info {
      width: 70%;
      background-color: #fff;
      padding: 4rem 2rem;
      margin: 0 auto;
      box-shadow: 2px 2px 4px #000;
      border-radius: 5px; }
  .email__form {
    display: flex;
    flex-direction: column;
    width: 70%;
    margin: 0 auto; }
  .email__input {
    margin-bottom: 1.2rem;
    padding: .6rem 1rem;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.411);
    border: none;
    border-radius: 5px; }

.footer {
  padding: 4rem;
  background-color: #999;
  border-top: 1px solid black;
  display: flex;
  justify-content: space-around; }
  .footer__list {
    list-style: none; }
  .footer__item {
    margin: .5rem; }
  .footer__link {
    text-decoration: none;
    color: #fff; }

.header__link {
  text-decoration: none;
  background: white;
  color: black;
  padding: .7rem 1rem;
  border-radius: 1px; }

.header__btn {
  padding: .7rem 1rem;
  border-radius: 2px; }

.header__border {
  border: 1px solid #fff; }

.header__solid {
  background-color: #fff; }

.category__btn {
  text-decoration: none;
  color: black;
  background-color: orange;
  padding: .5rem 1rem; }

.history__btn {
  color: grey;
  padding: .8rem 1rem;
  text-decoration: none;
  background-color: white;
  box-shadow: 2px 2px 4px black;
  border-radius: 4px; }

.email__btn {
  background-color: #fff;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.411);
  border-radius: 10px;
  padding: .7rem 1rem;
  width: 10rem;
  margin: 0 auto; }

.header__title {
  font-size: 3rem;
  color: white; }

.email__title {
  color: #999;
  font-size: 2rem;
  text-align: center; }
